leader-card {

    .header {
        background-color: color($colors, header);
        color: white;
        border: 1px solid black;

        .row {
            display: table-row;
        }

        .col {
            display: table-cell;
        }
    }

    ion-select.leaderName {
        max-width: 75%;
    }

    .item-inner ion-reorder {
        display: none;
    }

}
