<table>
    <tr class="header">
        <th class="stat">M</th>
        <th class="stat">WS</th>
        <th class="stat">BS</th>
        <th class="stat">S</th>
        <th class="stat">T</th>
        <th class="stat">W</th>
        <th class="stat">I</th>
        <th class="stat">A</th>
        <th class="stat">Ld</th>
    </tr>
    <tr>
        <td class="value">{{fighter.fighter.characteristics.movement}}</td>
        <td class="value">{{fighter.fighter.characteristics.weaponSkill}}</td>
        <td class="value">{{fighter.fighter.characteristics.ballisticSkill}}</td>
        <td class="value">{{fighter.fighter.characteristics.strength}}</td>
        <td class="value">{{fighter.fighter.characteristics.toughness}}</td>
        <td class="value">{{fighter.fighter.characteristics.wounds}}</td>
        <td class="value">{{fighter.fighter.characteristics.initiative}}</td>
        <td class="value">{{fighter.fighter.characteristics.attacks}}</td>
        <td class="value">{{fighter.fighter.characteristics.leadership}}</td>
    </tr>
</table>
