<ion-grid>
    <ion-row>
        <ion-col>M</ion-col>
        <ion-col>WS</ion-col>
        <ion-col>BS</ion-col>
        <ion-col>S</ion-col>
        <ion-col>T</ion-col>
        <ion-col>W</ion-col>
        <ion-col>I</ion-col>
        <ion-col>A</ion-col>
        <ion-col>Ld</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>{{fighter.fighter.characteristics.movement}}</ion-col>
        <ion-col>{{fighter.fighter.characteristics.weaponSkill}}</ion-col>
        <ion-col>{{fighter.fighter.characteristics.ballisticSkill}}</ion-col>
        <ion-col>{{fighter.fighter.characteristics.strength}}</ion-col>
        <ion-col>{{fighter.fighter.characteristics.toughness}}</ion-col>
        <ion-col>{{fighter.fighter.characteristics.wounds}}</ion-col>
        <ion-col>{{fighter.fighter.characteristics.initiative}}</ion-col>
        <ion-col>{{fighter.fighter.characteristics.attacks}}</ion-col>
        <ion-col>{{fighter.fighter.characteristics.leadership}}</ion-col>
    </ion-row>
</ion-grid>
