fighter-characteristics {

    tr.header {
        background-color: color($colors, primary);
    }

    th.stat, td.value {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }

}
