fighter-card {

    .header {
        //background-color: black;
        //color: white;

        .row {
            display: table-row;

            .button-row {
                padding: 0px;
                margin: 0px;
            }
        }

        .col {
            display: table-cell;

            .button-col {
                padding: 0px;
                margin: 0px;
            }
        }
    }

}
