fighter-card {

    .header {
        background-color: color($colors, header);
        color: white;
        border: 1px solid black;
    }

    ion-select.wargearName {
        max-width: 75%;
    }

    .item-inner ion-reorder {
        display: none;
    }

}
