<div class="header">
    <div class="row">
        <ion-item>
            <ion-label floating>Fighter Name</ion-label>
            <ion-input type="text" clearInput="true" [(ngModel)]="fighter.name" class="item-inner"></ion-input>
        </ion-item>
    </div>
    <div class="row">
        <div text-left class="col"><h2>{{fighter.fighter.name}}</h2></div>
        <div text-right class="col">{{fighter.fighter.getTypeString()}}</div>
    </div>
    <div class="row">
        <div text-left class="col">{{fighter.fighter.cost}} points</div>
    </div>
</div>
<fighter-characteristics [fighter]="fighter"></fighter-characteristics>
