fighter-card {

    .header {
        background-color: grey;
        color: white;
        border: 1px solid black;

        .row {
            display: table-row;
        }

        .col {
            display: table-cell;
        }
    }

    .item-inner ion-reorder {
        display: none;
    }

}
