<div class="header">
    <div text-right>
        <button ion-button icon-only clear color="secondary"><ion-icon name="copy"></ion-icon></button> <button ion-button icon-only clear color="secondary"><ion-icon name="trash"></ion-icon></button>
    </div>
    <div class="row">
        <div text-left class="col"><h2>{{fighter.fighter.name}}</h2></div>
        <div text-right class="col">{{fighter.fighter.getTypeString()}}</div>
    </div>
    <div class="row">
        <div text-left class="col">{{fighter.fighter.cost}} points</div>
    </div>
</div>
<fighter-characteristics [fighter]="fighter"></fighter-characteristics>
