<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Kill Team</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- TODO: make this a component -->
    <ion-item #factionItem>
        <ion-label>Faction</ion-label>
        <ion-select [(ngModel)]="selectedFactionName" (ionChange)="onFactionSelected()" class="faction">
            <ion-option *ngFor="let factionName of factionNames">{{factionName}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-list>
        <ion-item #leaderItem text-center>
            <leader-card [leaderNames]="leaderNames" [selectedLeaderName]="selectedLeaderName" [killTeam]="killTeam"></leader-card>
        </ion-item>
        <ion-item-group reorder="true" (ionItemReorder)="onReorderFighters($event)">
            <ion-item #fighterItem no-lines text-center *ngFor="let fighter of killTeam.fighters">
                <fighter-card [fighter]="fighter"></fighter-card>
            </ion-item>
        </ion-item-group>
    </ion-list>
    <div text-center>
        <button ion-button (click)="onAddFighter()">Add Fighter</button>
    </div>
    <div text-center>
        <button ion-fab (click)="onSave()">
            <ion-icon name="add"></ion-icon>
        </button>
        <button ion-fab (click)="onReset()">
            <ion-icon name="undo"></ion-icon>
        </button>
    </div>
</ion-content>
