<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Kill Team</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item #factionItem>
        <ion-label>Faction</ion-label>
        <ion-select [(ngModel)]="selectedFactionName" (ionChange)="onFactionSelected()" class="longSelect">
            <ion-option *ngFor="let factionName of factionNames">{{factionName}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="killTeam.leader != null">
        Leader: {{killTeam.leader.fighter.name}}
    </ion-item>
    <ion-list #fighterList>
        <ion-item *ngFor="let fighter of killTeam.fighters">
            Fighter: {{fighter.fighter.name}}
        </ion-item>
    </ion-list>
    <div text-center><button ion-button (click)="onAddFighter()">Add Fighter</button></div>
</ion-content>
