<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Kill Team</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item #factionItem>
        <ion-label>Faction</ion-label>
        <ion-select [(ngModel)]="selectedFactionName" (ionChange)="onFactionSelected()" class="longSelect">
            <ion-option *ngFor="let factionName of factionNames">{{factionName}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-card #leaderCard>
        <ion-card-header>Kill Team Leader</ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-select [(ngModel)]="selectedLeaderName" class="longSelect">
                    <ion-option *ngFor="let leaderName of leaderNames">{{leaderName}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card #fighterCard *ngFor="let fighter of killTeam.fighters">
        <ion-card-header>{{fighter.fighter.name}}</ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
    <div text-center>
        <button ion-button (click)="onAddFighter()">Add Fighter</button>
    </div>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col>
                <button ion-fab (click)="onSave()">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <button ion-fab (click)="onReset()">
                    <ion-icon name="undo"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
